# Gradle
.gradle/
build/
out/
*.class
*.jar
*.iml

# Android
local.properties
*.keystore
*.jks

# IDE
.idea/
*.iws
*.ipr
xcuserdata/
*.xcworkspace/data/

# macOS
.DS_Store

# Env
.env
.env.*

# iOS build
iosApp/iosApp.xcworkspace/xcuserdata/
DerivedData/
*.ipa
